@media (max-width: 600px) {
   
    
   .fadeInDown {
       display: flex;
       margin: 0 auto;
       justify-content: center;
    }
    .nav_options {
        display: none;
    }
    .user-interactions--section{
       margin-right: 10%;
       margin-left: -1.8%;
      
        
    }
    .main_section {
       margin-top: 20%;
    }
    footer {
       height: 50px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    footer ul{
        display: block;
        text-align: center;
       
        
    }
  }