@media (max-width: 600px) {
    
    .Kairos_image img {
     display: block;
     margin: auto;
    }
    
    li .sign-up-button, li .log-in-button {
        display: none;
    }
    .user-interactions--section{
       margin-right: 10%;
       margin-left: -1.8%;
      
        
    }
    .main_section {
       margin-top: 20%;
    }
    footer {
       height: 50px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    footer ul{
        display: block;
        text-align: center;
       
        
    }
  }