@media (max-width: 600px) {
   
    
   .fadeInDown {
       display: flex;
       margin: 0 auto;
       justify-content: center;
    }
    .nav_options {
        display: none;
    }
    .user-interactions--section a{
      margin: 0 auto;
      margin-top: 20px;
      padding: 5%;
      width: 280px;
    }
    .main_section {
       margin-top: 20%;
    }
    footer {
        height: 50px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    footer ul{
        display: block;
        text-align: center;
       
        
    }
  }