@media (max-width: 600px) {
    
    .Kairos_image {
        position: absolute;
        
        left: calc(50% - 30px);
        top: calc(50% + 10px);
    }
    
    li .sign-up-button, li .log-in-button {
        display: none;
    }
    .user-interactions--section{
        display: flex;
        
    }
    footer {
       height: 50px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    footer ul{
        display: block;
        text-align: center;
       
        
    }
  }