/*
1. Posicionamiento
2. Modelo de Caja
3. Tipografía
4. Visuales
5. Otros
*/
:root {
    /*paleta de colores*/
    --columbia-blue: #c9f0ff;
    --just-azure: #eafffd;
    --cultured-pink: #efeff0;
    --languid-lavander: #d5cad6;
    --deep-taupe: #6b5e62;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    --pure-lagoon: #009897;
    --chill-pink: #b87db5;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
    background: rgb(205,63,63) no-repeat center center fixed;
    background:  linear-gradient(297deg, rgba(205,63,63,1) 0%, rgba(93,162,219,1) 86%) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    padding: 10px;
   
}
nav a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.5rem;
    
}
.nav-options {
    display: flex;
    padding-left: 100px;
}
.sign-up-button {
    background-color: var(--pure-lagoon);
    width: 100%;
    padding: 10px;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    
}
.sign-up-button , .log-in-button  {
    box-shadow: 2px 2px 2px var(--black);
}
.sign-up-button:hover {
    background-color: #73bbba;
}
.log-in-button:hover {
    background-color: #d5a6d3;
}
.log-in-button {
    background-color: var(--chill-pink);
    width: 100%;
    padding: 10px;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    
}
.main_section  {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 2%;
    padding: 5%;
    font-size: 7.5rem;
    font-family: 'Oswald', sans-serif;
    color: var(--black);
    
}
.main_section--p {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 200;
    margin-top: -5%;
    margin-left: 2%;
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);
}
.user-interactions--section {
    
    
    width: 350px;
    margin: 0 auto;
    
}
.user-interactions--section a {
    color: var(--black);
    text-decoration: none;
    display: block;
    align-items: center;
    text-align: center;
    width: 350px;
    box-shadow: 2px 2px 2px var(--black);
    margin: 5%;
}
footer {
   
    position: absolute;
    bottom: 0;
    height: 35px;
}
footer ul {
    display: flex;
    justify-content: space-between;
    margin: 2%;
    
    
}
footer ul li {
    list-style: none;
    font-size: 1.2rem;
    
}
footer ul li a {
    color: var(--white);
    text-shadow: 2px 2px 2px var(--black);
    text-decoration: none;
    padding: 10%;
    font-weight: 400;
}
footer ul li a:hover{
    color: var(--grey);
}

@media (min-width: 1920px){
    .main_section {
        margin-top: 15%;
    }
}

